body {
	padding-top: 50px;
}
td:hover{
	blue;
}
#month{
	text-align:center;
	font-size:20px;
	padding:10px 0px;
}
td.today{
	background:orange;
}
td.outMonth{
	background:grey;
}
td.weekend{
	background:#EBEBEB;
}
td.white{
background:white;
}
td.white:hover{
	background:yellow;
}
.day{
	padding : 30px 0px;
}

#calendarapp {
}

