
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Calendar</title>
  <link rel="stylesheet" href="calendar.css"/>
</head>

<body>
	
  <div id="calendarapp">

    <header>
	
	<div id='calendar'></div>
<div id="infos">
</div>
     <!--
	 <h1>Todos</h1>
      <input id="new-todo" type="text" placeholder="What needs to be done?">
    </header>

    <section id="main">

      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list"></ul>
    </section>

    <footer>
      <a id="clear-completed">Clear completed</a>
      <div id="todo-count"></div>
    </footer>
-->
  </div>
  <script src="json2.js"></script>
  <script src="jquery.js"></script>
  <script src="underscore.js"></script>
  <script src="backbone.js"></script>
  <script src="backbone.localStorage.js"></script>
  <script src="calendar.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
	  <label>jour : <%- date %>, semaine ? <%- date %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>
  <script type="text/template" id="date-template">
  <div>info : <%- info %></div>
      <div><%- color %></div>
	  <div><%- date %></div>
	</script>
 <script type="text/template" id="date-template">
  <div>info : <%- info %></div>
      <div><%- color %></div>
	  <div><%- date %></div>
	</script>
	 <script type="text/template" id="calendar-template">
	 <div id="month"><button id="previousMonth"><</button> <%- month %> <button id="nextMonth">></button></div>
	  <table> <tr>
    <th>MON</th>
    <th>TUE</th>
    <th>WED</th>
    <th>THU</th>
    <th>FRI</th>
    <th>SAT</th>
    <th>SUN</th>
  </tr>
 
  <% 
  var count =0;
  _.each(days,function(day){
  var rest = count%7;
  if(rest==0){
  %>
  <tr>
  <%}%>
  <td class="<%-day.getClass(monthIndex)%>"><div class="day"><%- day.date.getDate()%></div></td>
  <%
  if(rest==6){
  %>
  </tr>
  <%
  }
  count++;
  })
  %>
   </table>
	</script>
  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>
<script type="text/template" id="infos-template">
    <%- info %>
  </script>
  </body>
</html>
